<header>
  <img
    src="assets/img/lucas-andrade.png"
    alt="Lucas Andrade - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Lucas Andrade</h1>
</header>

<aside>
  <div class="container">
    <p>Full-Stack Java | Angular | JavaScript | SQL</p>
    <p>São Paulo, Brasil</p>
    <p>
      Estou iniciando minha carreira na área de desenvolvimento de software e, mesmo sendo estagiário, já tive a oportunidade de explorar diversas tecnologias.
      Recentemente, resolvi focar na stack Java e Angular, que me permite atuar tanto no Frontend quanto no Backend, ampliando meu conhecimento e
      versatilidade na área.
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download Cv
          </a>
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/lucas-silva-andrade/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://wa.me/5511959858110?text=Ol%C3%A1%2C%20gostaria%20de%20saber%20mais!"
            target="_blank"
          >
            <strong>Envie uma menssagem para:</strong>
            <p>WhatsApp: (11) 9 5985-8110</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:lucas.andrade.tecnologia@gmail.com.br" target="_blank">
            <strong>Envie uma e-mail para:</strong>
            <p>lucas.andrade.tecnologia&#64;gmail.com.br</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
